body {
    background-color: rgb(238, 134, 238);
    font-family: 'Montserrat', sans-serif;
}

.principal {
    background-color: rgb(197, 16, 197);
    text-align: center;
    color: blue;
}

.icons {
    width: 30px;
    height: 30px;
}

.perfil {
    color: blue;
}

.foto {
    width: 100px;
    height: 100px;
    left: 10px;
}


